<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="log" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block" batchSize="1000">
      <target xsi:type="File" fileName="logs/mb-trace.txt" archiveNumbering="Date" maxArchiveFiles="5" archiveEvery="Day" concurrentWrites="true" layout="[${longdate:universalTime=true} ${threadid}|${mdlc:item=mdlcId}] ${level:uppercase=true}: ${callsite:captureStackTrace=false} ${message}" encoding="utf-8" />
    </target>
  </targets>
  <rules>
    <logger name="WhalesSecret.SharedLib.Net.WebSocketClient" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.Core.Services.Dispatcher.Merger.*" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.Core.Services.Dispatcher.ConsumerPropagationQueues`1.*" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.Exchanges.ExchangeBase.Utils.*" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.Exchanges.Kucoin.Services.WebSocket.KucoinRequestItem.*" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.Exchanges.Binance.Services.WebSocket.BinanceRequestItem.*" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Encoding.GenericSerializer`1" finalminlevel="Info" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Encoding.ObjectSerializer" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Utils.TradeScript.MarketData.CandlestickComputer" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Utils.TradeScript.MarketData.TickerComputer" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Encoding.Compression.LzmaCompressor" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Encoding.TypeResolver" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.IO.StreamReaderWriter" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.SharedLib.Utils.Sync.*" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.Core.Services.Dispatcher.*" finalminlevel="Debug" writeTo="log" />
    <logger name="WhalesSecret.*" minlevel="Trace" writeTo="log" />
  </rules>
</nlog>